*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color: #5DD9C1;
  text-align: center;
  
}
html{
  font-size: 62.5%;
}
.container{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:2rem;
}
h1{
  padding: 20px 10px;
  font-size: 2.5rem;
  color:#111344;
}
.msg-container{
  padding:2rem 1rem;
  font-size: 2rem;
}
.hide{
  display:none;
}

.btn-container{
  height:30vh;
  width:60vw;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:0.6rem;
}
.cont{
  width:20rem;
}
.btn{
  width:6rem;
  aspect-ratio:1;
  border-radius: 0.8rem;
  border:none;
  box-shadow: 0 0 1rem rgba(0,0,0,0.3);
  background-color: #EFE9E7;
  text-align: center;
  font-size: 3.5rem;
  color:#000;
}
#reset-btn{
  position: absolute;
  top:50rem;
  margin:1rem;
  padding:1rem 2rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border:none;
  outline:none;
  color:#fff;
  background-color: #000007;
}
a{
  font-size: 2rem;
  text-decoration:none;
  color:#000;
  font-weight: bold;
  position: absolute;
  top:65rem;
}

@media (min-width: 600px){
  html{
    font-size: 125%;
  }
  .btn-container{
    height: 20vh;
    width:40vw;
  }
}
