* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    background-color: #5dd9c1;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    margin: 2rem;
    font-size: 2.5rem;
}
.msg-container {
    padding: 2rem 1rem;
    margin: 2rem;
}
#msg {
    font-size: 2rem;
    text-transform: uppercase;
}
.hide {
    display: none;
}
.btn-container {
    height: fit-content;
}
.btn {
    width: 8rem;
    height: 8rem;
    border-radius: 0.6rem;
    outline: none;
    border: none;
    margin: 0.2rem;
    background-color: #fff;
    font-size: 3.5rem;
    font-weight: bold;
    color: #000;
    text-align: center;
}
#reset-btn {
    padding: 1rem 2rem;
    background-color: #000;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    position: fixed;
    bottom: 10rem;
    margin-top: 1rem;
}
a {
    text-decoration: none;
    color: #000;
    font-size: 2rem;
    font-weight: bold;
    position: fixed;
    bottom: 2rem;
}
